{% extends "julkalender/base.html" %}

{% load staticfiles %}

{% block content %}
    <div id="door-main">
        {% if door.text %}
            <p>{{door.text}}</p>
        {% endif %}
        {% if door.image %}
            <img class="door-image" src="{{door.image.url}}">
        {% endif %}
        {% if embed %}
            <div class="embed">
                {{ embed |safe }}
            </div>
        {% endif %}
        {% if logged_in %}
            <p>Du är inloggad och kan därmed se denna sida i förväg.</p>
        {% endif %}
    </div>
{% endblock content %}
